.product-slider {
  .swiper-container {
    .swiper-slide {
      background-color: $second-bg;
      border-radius: $second-rounded;
      text-align: center;

      a {
        padding: 20px 0;
        display: inline-block;

        .item-heading {
          text-align: center;

          .title {
            padding: 0 17px;
            font-size: 16px;
            font-weight: 500;
            color: $main-txt-color;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .brand {
            font-size: 12px;
            color: $third-txt-color;
          }
        }

        .img-container {
          img {
            width: 100%;
            max-width: 270px;
          }
        }

        .item-meta {
          @include flex(center, center, column);

          .price,
          .unavailable {
            font-size: 15px;
            font-weight: 500;
            margin-top: 7px;
          }

          .price {
            color: $main-color-blue;
          }

          .unavailable {
            color: $main-color-red;
          }
        }
      }
    }
  }
}
