.modern-radio-container {
  display: flex;
  position: relative;
  cursor: pointer;
  line-height: 1;
  user-select: none;
}

.radio-outer-circle {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  border: 2px solid $main-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s linear;
}

.radio-inner-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $main-color;
  transition: all 0.1s linear;
}

.unselected {
  border: 1px solid $second-border-color;
}

.unselected-circle {
  width: 0;
  height: 0;
}

.helper-text {
  margin-left: 5px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: $main-txt-color;
  font-size: 14px;
}
