*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

ol, ul {
	list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
}
