.page-layouts {
  .card-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 75px;

    @include flex(center, center, column);

    @include medium {
      @include flex(center, center);
    }
  }
}
