.products {
  .content-header {
    margin-bottom: 20px;
  }

  .content-wrapper {
    display: flex;

    .content-aside {
      width: 100%;
      max-width: 260px;
      display: none;
      margin-right: 28px;

      @include large {
        display: block;
      }

      .filter-menu-wrapper {
        .filter-menu-heading {
          @include flex(flex-start, center);
          height: 40px;
          margin-bottom: 15px;

          .menu-title {
            font-weight: 500;
            font-size: 14px;
          }
        }

        .filter-menu-content {
          box-shadow: $fourth-box-shadow!important;
          position: sticky;
          top: 50px;
          left: 0;
        }        
      }
    }

    .content-main {
      width: 100%;

      @include large {
        width: calc(100% - 260px);
      }

      .main {
        .products-header-items {
          @include flex(space-between, center);
          width: 100%;
          margin-bottom: 15px;

          .burger-menu {
            background: $bg-transparent;
            cursor: pointer;

            @include large {
              display: none;
            }

            svg {
              @include dimensions(21px, 21px);
              stroke: $third-txt-color;
            }
          }

          .result-toggler {
            display: none;
            font-weight: 500;
            font-size: 14px;

            @include large {
              display: block;
            }
          }

          .view-options {
            @include flex(center, center);

            .view-option:first-child {
              margin-right: 15px;
            }
          }
        }

        .searchbar {
          position: relative;
          box-shadow: $fourth-box-shadow;
          border-radius: $main-rounded;
          overflow: hidden;

          ::placeholder {
              color: $fourth-txt-color;
              font-size: 14px;
          }

          .search-product {
            width: 100%;
            padding: 14px 53px 14px 18px;
            border-radius: $second-rounded;
            font-size: 14px;
            color: $third-txt-color;
          }

          .search-icon {
              @include flex(center, center);
              position: absolute;
              right: 18px;
              top: 50%;
              transform: translateY(-50%);

              svg {
                  width: 18px;
                  height: 18px;
                  color: $fourth-txt-color;
              }
          }
        }

        .products-view {
          margin: 28px 0;
          gap: 28px;

          .no-results-found {
            text-align: center;
            margin-top: 10rem;
            font-size: 14px;
            font-weight: 500;
          }
        }

        .pagination-wrapper {
          @include flex(center, center);
          
          .pagination {
            @include flex(center, center);
            
            &-items {
              border-radius: $full-rounded;
              background-color: $main-bg;
              box-shadow: $fourth-box-shadow;
              margin: 0 7px;
              
              .pagination-item {
                @include dimensions(32px, 32px);
                font-size: 14px;
                color: $third-txt-color;
                background-color: $main-bg;
                cursor: pointer;
                font-weight: 500;
                
                &:first-child {
                  border-radius: $full-rounded 0 0 $full-rounded;
                }
                
                &:last-child {
                  border-radius: 0 $full-rounded $full-rounded 0;
                }
              }
              
              .pagination-item.active {
                background-image: $main-bg-gradient;
                color: $txt-white;
                border-radius: $full-rounded;
                font-weight: 600;
              }
            }

            .prev-item,
            .next-item {
              @include flex(center, center);
              @include dimensions(32px, 32px);
              border-radius: $full-rounded;
              box-shadow: $fourth-box-shadow;
              font-size: 14px;
              color: $third-txt-color;
              background-color: $main-bg;
              cursor: pointer;
              transition: all .3s;

              &:hover {
                background-color: $main-color;

                svg {
                  stroke: $txt-white;
                }
              }

              svg {
                @include dimensions(18px, 18px);
                stroke: $third-txt-color;
                transition: all .3s;
              }
            }

            .prev-item.disable,
            .next-item.disable {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
