.dropdown-menu-header {
  @include flex(space-between, center);
  padding: 18px 25px;
  border-bottom: 1px solid $main-border-color;

  .title {
    color: $main-txt-color;
    font-weight: 500;
    font-size: 19px;
  }

  .badge {
    padding: 3px 8px;
    font-size: 12px;
    font-weight: 600;
    background-color: $color-light-blue;
    color: $main-color-blue;
    border-radius: $full-rounded;
  }
}
