.side-drawer {
    @include dimensions(100%, 100%);
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    z-index: 100;

    @include extra-large {
        display: none;
    }

    .menu {
        @include dimensions($main-sidebar-width, 100%);
        position: absolute;
        background-color: $main-bg;
        left: -100%;
        transition: all .3s ease;
        height: 100vh;
        overflow-y: auto;
    }

    .backdrop {
        @include dimensions(100%, 100%);
        min-height: 100vh;
        background-color: rgba(34,41,47,.5);
    }
}

.side-drawer.active {
    opacity: 1;
    visibility: visible;

    .menu {
        left: 0;
    }
}